<h1>Bienvenidos</h1>

<form id="formMessage">
    <input id="usernameInput" type="text" placeholder="Nombre de Usuario">
    <input id="messageInput" type="text" placeholder="Mensaje">
    <input type="submit" value="Enviar">
</form>

<ul id="messagePool">
    
</ul>