<h1>Bienvenidos</h1>

<form id="formMessage">
    <article>
        <input id="usernameInput" type="text" placeholder="Nombre de Usuario">
    </article>
    <article>
        <input id="nameInput" type="text" placeholder="Nombre">
    </article>
    <article>
        <input id="lastnameInput" type="text" placeholder="Apellido">
    </article>
    <article>
        <input id="ageInput" type="number" placeholder="Edad">
    </article>
    <article>
        <input id="aliasInput" type="text" placeholder="Alias">
    </article>
    <article>
        <input id="avatarInput" type="text" placeholder="URL Avatar">
    </article>
    <article>
        <input id="messageInput" type="text" placeholder="Escribe tu mensajer">
    </article>
    <input type="submit" value="Enviar">
</form>

<ul id="messagePool">
    
</ul>