<section class="contenedorFormulario row">
    <article class="col-6 cajaFormulario">
        <h3>Bienvenid@ <%= username %></h3>
        <a href="/desloguear">Desloguear</a>
    </article>
</section>