<% if (!productos) { %>
    <p>No tenemos productos para mostrar</p>
<% }else{ %>
    <section class="contenedorProductos row">
        <% productos.forEach(producto=> { %>
            <article class="col-2 cajaProductos">
                <p><%= producto.title %></p> 
                <img src=  <%= producto.thumbnail %>  alt="">
                <p>Precio: $ <%= producto.price %></p> 
            </article>
            <% }) %>
    </section>
<% } %>