.titulosH1{
    text-align: center;
}
a{
    text-align: center;
}

.contenedorFormulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cajaFormulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cajaFormulario form{
    width: 100vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cajaForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cajaProductos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: black 1px solid;
}

.cajaProductos img{
    width: 100%;
}

.navlink{
    text-align: center;
}