<% console.log(await data) %> 
<% if (await !data.lenght) { %>
    <p>No tenemos productos para mostrar</p>
<% }else{ %>
    <ul>
        <% await data.forEach(producto=> { %>
            <li>
                Picada: <%= data.name %>
                Precio: <%= data.price %>
                <img src=<%= data.thumbnail %>  alt=""> 
            </li>
            <% }) %>  
    </ul>
<% } %> 