<section style= <%= display2 %> >
    <% if (!productos.length) { %>
        <p>No tenemos productos para mostrar</p>
    <% }else{ %>
        <ul>
            <% productos.forEach(producto=> { %>
                <li>
                    Picada: <%= producto.name %>
                    Precio: <%= producto.price %>
                    <img src=<%= producto.thumbnail %>  alt="">
                </li>
                <% }) %>
        </ul>
    <% } %>
</section>