<%- include('./partials/head.ejs') %> 
<body>
    <% if (login){ -%>
        <%- include('./partials/failLogin.ejs') %> 
    <% }else{ -%>
        <%- include('./partials/failSingup.ejs') %>
    <% } -%>
</body>
</html>