<h1 class="titulosH1">Fromulario Login</h1>
<section class="contenedorFormulario row">
    <article class="col-5 cajaFormulario">
        <form action="/" enctype="application/x-www-form-urlencoded"  method="post">
            <article class="cajaForm col-12">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" placeholder="Nombre de Usuario" name="username">
            </article>
            <article class="cajaForm col-12">
                <label for="password">Password:</label>
                <input type="password" placeholder="password" name="password">
            </article>
            <article>
                <input type="submit" value="Enviar">
            </article>
            <article>
                <a href="/registrarse">Registrarse</a>
            </article>
        </form>
    </article>
</section>