<h1 class="titulosH1">Alta de Usuario</h1>
<section class="contenedorFormulario row">
    <article class="col-5 cajaFormulario">
        <form action="/" enctype="application/x-www-form-urlencoded"  method="post">
            <article class="cajaForm col-12">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" placeholder="Nombre de Usuario" name="username">
            </article>
            <article class="cajaForm col-12">
                <label for="password">Password:</label>
                <input type="password" placeholder="password" name="password">
            </article>
            <article class="cajaForm col-12">
                <label for="email">Email:</label>
                <input type="email" placeholder="email" name="email">
            </article>
            <article class="cajaForm col-12">
                <label for="firstName">Nombre:</label>
                <input type="text" placeholder="nombre" name="firstName">
            </article>
            <article class="cajaForm col-12">
                <label for="lastName">Password:</label>
                <input type="text" placeholder="Apellido" name="lastName">
            </article>
            <article>
                <input type="submit" value="Enviar">
            </article>
            <article>
                <a href="/">Login</a>
            </article>
        </form>
    </article>
</section>