<form action="/personas" method="post">
    <input type="text" name="nombre" placeholder="Ingrese su Nombre">
    <input type="text" name="apellido" placeholder="Ingrese su Apellido">
    <input type="number" name="edad" placeholder="Ingrese su Edad">
    <input type="submit" value="Enviar">
</form>


