    <form action="/productos" enctype="multipart/form-data"  method="post">
        <input type="text" placeholder="Nombre del Producto" name="name">
        <input type="number" name="price" placeholder="Ingrese precio">
        <input type="file" name="thumbnail">
        <input type="submit" value="Enviar">
    </form>

