    {{#if productos.length}}
        <section class="contenedorProductos row">
            {{#each productos}}
                <article class="col-2 cajaProductos">
                    Picada: {{this.title}}
                    <img src={{this.thumbnail}} alt="">
                    Precio: {{this.price}}
                </article>
            {{/each}}
        </section>
    {{else}}
        <p>No tenemos productos para mostrar</p>
    {{/if}}